{% extends 'layouts/base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>Login!</h1>

<form method = "POST" action="{% url 'clubuser:login' %}">
    {% csrf_token %}
    username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" />
    <br/>
 <br/><be>
          <br/>
    <input class ="btn btn-primary" type="submit" value= "Login" />
    <br/>
</form>

<h2 class = "text-right">
 <a href="{% url 'password_reset' %}" role="button" class="btn btn-outline-secondary">I foget my password</a>
</h2>

{% endblock %}
