{% extends 'layouts/base.html' %}
{% load static %}
{% load pagination_tags %}

{% block content %}
{% autopaginate questions 4 %}

    {% for question in questions %}

    

<div class ="d-flex">

    <div class="card" style="width: 69.5rem; height: 17rem">
            <h5 class="card-header">  
                  {% for tag in question.tag.all %} 
          <a href="{% url 'blog:questions-in-tags' tag.slug %}" class="btn btn-outline-Success btn-sm" role="button" aria-pressed="true" >[ {{tag}} ]</a>
                  {% endfor%}
              <a href="{% url 'blog:questions-in-categories' question.category.slug %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">{{question.category}}</a>
       <a href="{% url 'clubuser:profile' question.user.pk %}"role="button" aria-pressed="true">{{question.user.username}}
                  <img src="{{ question.user.clubuser.image_url}}" alt="{% static '/default.jpeg' %}" class="rounded-circle" width="50">
</a>
                <div class="card-body">
                  <h5 class="card-title">{{ question.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{cat}}</h6>
                  <p class="card-text">{{ question.body|truncatewords:5|safe }}</p>
                  <p >  Views: {{question.views_count}} </p>
                  <p> likes: {{question.like.count}}</p>
                  
                  <a class = "text_right" href="{% url 'blog:question-detail' question.id question.slug %}"  class="card-link">see question</a>
                  
                </div>
              </div>
            </div>

          <br/><be>
          <hr>
          <br/>

           {%endfor%}

          <br/><be>
          <hr>
          <br/>
<h3>
{% paginate %}
</h3>
{% endblock %}

