{% extends 'layouts/base.html' %}
{% load pagination_tags %}
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% autopaginate reports 4 %}

{% if request.user.is_staff  %}

{% for report  in reports  %}

<div class="card">
  <div class="card-header">
  {{report.reporter}}
  </div>
  <div class="card-body">
    <h5 class="card-title"> reason: {{report.reason}} </h5>
    <p class="card-text"> detail : {{report.detail|truncatewords:25|safe}}</p>
    <p> reported case: {{report.content_object}} </p>
    <a href="{% url 'blog:report-detail' report.pk %}"  class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true" >detail and handle</a>
  </p>
  
</div>
</div>
{%endfor%}
{% endif %}
 <br/><be>
          <hr>
          <br/>
{% paginate %}
{% endblock %}



