{% extends 'layouts/base.html' %}

{% block content %}
<h2> {{ main_tag }}</h2>

    {% for question in questions %}
<div class ="d-flex">
    <div class="card" style="width: 100rem; height: 15rem">
                <div class="card-body">
                  <h5 class="card-title">{{ question.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{question.cat}}</h6>
                  {%for tag in question.tag.all %}
                  <h6 class="card-subtitle mb-2 text-muted">{{tag}}</h6>
                {% endfor %}
                  
                  <p class="card-text">{{ question.body|safe }}</p>
                  <a href="{% url 'blog:question-detail' question.id question.slug %}"  class="card-link">see question</a>
                </div>
              </div>
            </div>
        <div class="card">
</div>
    {%endfor%}
    {% comment %} pagination {% endcomment %}
<h3>
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% comment %} endpagination {% endcomment %}

</h3>

{% endblock %}
