{% extends 'layouts/base.html' %}
{% load hitcount_tags %}

{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
    {% for question in questions %}
    
<div class ="d-flex">

    <div class="card" style="width: 100rem; height: 15rem">
                <div class="card-body">
                  <h5 class="card-title">{{ question.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{cat}}</h6>
                  <p class="card-text">{{ question.body|truncatewords:5|safe }}</p>
                  <a href="{% url 'blog:question-detail' question.id question.slug %}"  class="card-link">see question</a>
                  <p >  Views: {{question.views_count}} </p>
                  <p> likes: {{question.like.count}}
                  
                </div>
              </div>
            </div>

 <br/><be>
          <hr>
          <br/>
          
    {%endfor%}

    {% comment %} pagination {% endcomment %}
<h3 >
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">   &laquo;   </a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">   &raquo;   </a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% comment %} endpagination {% endcomment %}

</h3>
{% endblock %}

