{% extends 'layouts/base.html' %}

{% block content %}
<h2> {{ main_tag }}</h2>

    {% for question in questions %}
<div class ="d-flex">
    <div class="card" style="width: 100rem; height: 15rem">
                <div class="card-body">
                  <h5 class="card-title">{{ question.title }}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{question.cat}}</h6>
                  {%for tag in question.tag.all %}
                  <h6 class="card-subtitle mb-2 text-muted">{{tag}}</h6>
                {% endfor %}
                  
                  <p class="card-text">{{ question.body|safe }}</p>
                  <a href="{% url 'blog:question-detail' question.id question.slug %}"  class="card-link">see question</a>
                </div>
              </div>
            </div>
        <div class="card">
</div>
    {%endfor%}


{% endblock %}
