{% extends 'layouts/base.html' %}
{% load hitcount_tags %}

{% block content %}

<div class ="d-flex">
    <div class="card" style="width: 100rem; height: 15rem">
        <h5 class="card-header">  
                  {% for tag in question.tag.all %} 
          <a href="{% url 'blog:questions-in-tags' tag.slug %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">{{tag}}</a>
                  {% endfor%}
              <a href="{% url 'blog:questions-in-categories' question.category.slug %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">{{question.category}}</a>
         {{question.user.username}}
  
        </h5>
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <p class="card-text">{{ question.body|safe }}</p>
                  <a href="{% url 'blog:write-answer' question.pk %}" role="button" class="btn btn-success btn-sm">answer the question</a>
                  {% if user == question.user %}
        <a href="{% url 'blog:update-question' question.pk %}" role="button" class="btn btn-success btn-sm">edit the question</a>
      <a href="{% url 'blog:delete-question' question.pk %}" role="button" class="btn btn-danger btn-sm">delete this question</a>
      {% endif %}
<a href="{% url 'blog:create-report' 'blog' 'question' question.pk %}" role="button" class="btn btn-warning btn-sm">report</a>
          <a role="button" class="btn btn-outline-primary btn-sm" aria-pressed="true">Views: {% get_hit_count for question %} </a>

          <br/><be>
          <br/>
          {% if not user.authenticated  %}
                <form action = "{% url 'blog:create-like' 'blog' 'question' question.pk %}" method="POST">{% csrf_token %}
           {% if user in  question.like.all %}
              <button type = "submit" , name = "question_id", value = "{{question.pk}}", class ="btn btn-secondary btn-sm">unlike</button>
           {%else%}
              <button type = "submit" , name = "question_id", value = "{{question.pk}}", class ="btn btn-danger btn-sm">like</button>
           {% endif %}
           <a role="button" class ="btn btn-primary btn-sm" aria-pressed="true">number of likes : {{question.like.count}}</a>
           </form>
           {% else %}
                      <a href="{% url 'clubuser:signup' %}" aria-pressed="true">log in to like</a>
           {% endif %}
        </div>
    </div>
</div>
    <br/><be>
          <hr>
          <br/>
{% if answers %}
there is {{ anwers.count }} answer(s) for this question
{% else %}
<h2>Unfortunately this question has no answer yet !!!</h2>
{% endif %}
 <h3> Answers </h3>
  {% for answer in answers%}
    <div class="card" style="width: 69.5rem; height: 15rem">
      <div class="card-body">
        <h5 class="card-title">{{answer.user}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{answer.created_date}}</h6>
        <p class="card-text">{{answer.body|safe}}</p>
{% if user == answer.user %}
        <a href="{% url 'blog:update-answer' answer.pk %}" role="button" class="btn btn-success btn-sm">edit the answer</a>
      <a href="{% url 'blog:delete-answer' answer.pk %}" role="button" class="btn btn-danger btn-sm">delete this answer</a>
      {% endif %}
          <br/><be>
          <br/>
           <form action = "{% url 'blog:create-like' 'blog' 'answer' answer.pk %}" method="POST">{% csrf_token %}
                  {% if user in  answer.like.all %}
              <button type = "submit" , name = "answer_id", value = "{{answer.pk}}", class ="btn btn-danger btn-sm">vote down</button>
                  {%else%}
              <button type = "submit" , name = "answer_id", value = "{{answer.pk}}", class ="btn btn-success btn-sm">vote up</button>
                  {% endif %}
           <a role="button" class ="btn btn-primary btn-sm" aria-pressed="true">likes : {{answer.like.count}}</a>



<a href="{% url 'blog:create-report' 'blog' 'Answer' answer.pk  %}" role="button" class="btn btn-warning btn-sm">report</a>



      </div>
    </div>
{%endfor%}
    <br/><be>
          <hr>
          <br/>


{% endblock %}
