{% extends 'layouts/base.html' %}

{% block content %}

<div class ="d-flex">

    <div class="card" style="width: 100rem; height: 15rem">
        <h5 class="card-header">{{question.user_id}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <p class="card-text">{{question.body}}</p>
          <a href="#" class="btn btn-primary">Go to category</a>
        </div>
      </div>
</div>
{% for answer in answers%}
<div class ="d-flex">

    <div class="card" style="width: 100rem; height: 15rem">
        <h5 class="card-header">answers </h5>
        <div class="card-body">
          <h5 class="card-title">answer</h5>
          <p class="card-text">answer body</p>
          <a href="#" class="btn btn-primary">time</a>
        </div>
      </div>
</div>
{%endfor%}

{% endblock %}

