{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    {% if messages %}
    <h4>Messages</h4>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <div class="alert alert-primary" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <div class="alert alert-warning" role="alert">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>



    {% for question in object_list %}
    

<div class ="d-flex">

    <div class="card" style="width: 69.5rem; height: 17rem">
            <h5 class="card-header">  
                  {% for tag in question.tag.all %} 
          <a href="{% url 'blog:questions-in-tags' tag.slug %}" class="btn btn-outline-Success btn-sm" role="button" aria-pressed="true" >[ {{tag}} ]</a>
                  {% endfor%}
              <a href="{% url 'blog:questions-in-categories' question.category.slug %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">{{question.category}}</a>
       <a href="{% url 'clubuser:profile' question.user.pk %}"role="button" aria-pressed="true">{{question.user.username}}
                  <img src="{{ question.user.clubuser.image_url}}" alt="{% static '/default.jpeg' %}" class="rounded-circle" width="50">
   </a>
                <div class="card-body">
                  <h5 class="card-title">{{ question.title_snippets}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{cat}}</h6>
                  <p class="card-text">{{ question.body_snippets|safe}}</p>
                  <p >  Views: {{question.views_count}} </p>
                  <p> likes: {{question.like.count}}</p>
                  
                  <a class = "text_right" href="{% url 'blog:question-detail' question.id question.slug %}"  class="card-link">see question</a>
                  
                </div>
              </div>
            </div>

 <br/><be>
          <hr>
          <br/>
           {%endfor%}
 <br/><be>
          <hr>
          <br/>
<h3>
    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% comment %} endpagination {% endcomment %}

</h3>
{% endblock %}

