{% extends 'layouts/base.html' %}

{% block content %}
<h2>{{questions.last.category}}</h2>




    {% for question in questions %}
        
             <div class ="d-flex">
    <div class="card" style="width: 69.5rem; height: 10rem">
            <h6 class="card-header">  
                <div class="card-body">
                  <h class="card-title">{{ question.title }}</h>
                  <h6 class="card-subtitle mb-2 text-muted">{{question.cat}}</h6>

                  
                  <p class="card-text">{{ question.body|safe }}</p>
                  <a href="{% url 'blog:question-detail' question.id question.slug %}"  class="card-link">see question</a>
                </div>
              </div>
            </div>
        <div class="card">

</div>

    {%endfor%}
{% endblock %}

