{% extends 'layouts/base.html' %}
{% load hitcount_tags %}

{% block content %}

<div class ="d-flex">
    <div class="card" style="width: 100rem; height: 15rem">
        <h5 class="card-header">{{question.user.username }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{question.title}}</h5>
          <p class="card-text">{{ question.body|safe }}</p>
                  {% if user == question.user %}
        <a href="{% url 'blog:update-question' question.pk %}" role="button" class="btn btn-success btn-sm">edit the question</a>
      <a href="{% url 'blog:delete-question' question.pk %}" role="button" class="btn btn-danger btn-sm">delete this question</a>
      {% endif %}
          <a href="{% url 'blog:questions-in-categories' question.category.slug %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">{{question.category}}</a>
          <a role="button" class="btn btn-outline-primary btn-sm" aria-pressed="true">Views: {% get_hit_count for question %} </a>
          {% for tag in question.tag.all %}
          <a href="{% url 'blog:questions-in-tags' tag.slug %}" class="btn btn-outline-primary btn-sm" role="button" aria-pressed="true">{{tag}}</a>
          {% endfor%}


          <br/><be>
          <br/>
           <form action = "{% url 'blog:like-question' question.pk %}" method="POST">{% csrf_token %}
           {% if liked %}
              <button type = "submit" , name = "question_id", value = "{{question.pk}}", class ="btn btn-danger btn-sm">unlike</button>
           {%else%}
              <button type = "submit" , name = "question_id", value = "{{question.pk}}", class ="btn btn-primary btn-sm">like</button>
           {% endif %}
           <a role="button" class ="btn btn-primary btn-sm" aria-pressed="true">number of likes : {{question.like.count}}</a>
           </form>
           
        </div>

      
    </div>

</div>
    <br/><be>
          <hr>
          <br/>

  {% for answer in answers%}
    <div class="card" style="width: 65rem;">
      <div class="card-body">
        <h5 class="card-title">{{answer.user_id}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{answer.created_date}}</h6>
        <p class="card-text">{{answer.body|safe}}</p>
        <a href="#" class="card-link">{{answer.total_like}}</a>
      </div>
    </div>
    
{%endfor%}

{% endblock %}
