<h1> Your {{report.content_type.model}} was reproted against our policy, we had no choice except to put your {{report.content_type.model}} into draft </h1>

{% block content %}
<div class="card">
  <div class="card-header">
   {{report.content_object}}
  </div>
  <div class="card-body">
   <p class="card-footer text-muted"> case: {{report.content_object.body|safe}} </p>
    <h5 class="card-title">reason : {{report.reason}} </h5>
    <p class="card-text">detial : {{report.detail|safe}}</p>
     
</div>
</div>

{% endblock %}


